body {
    margin: 5em auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    background-color: #282c34;
    color: #fff;
    max-width: 600px;
  }

  button {
    padding: 0.5em 1.5em;
    cursor: pointer;
  }

  form {
    display: grid;
    gap: 0.5em;
    place-content: start;
  }

  [type='submit'] {
    padding: 0.2em;
  }

  fieldset {
    margin: 1em 0;
  }